#hog-wash {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: grid;
  grid-template-rows: repeat(8, 12.5vh);
}

.color-picker {
  margin:auto;
  grid-row: 6/7;
  height: 100%;
  width: 90%;
}

.color-picker div {
  height: 100%;
  width: 13%;
  display: block;
  float: left
}

#fitness-and-greased{
  margin:auto;
  grid-row: 7/8;
  display: block;
  float: left;
  width: 90%;
}

#fitness-and-greased > div{
  text-align: center;
}

#fitness-and-greased > div > label{
  /* margin-left: 2%; */
  font-size: 1.5em;
  /* width: 50%; */
}

#hogwash-display-pig {
  grid-row: 2 / 6;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hogwash-display-pig > div {
  position:absolute;
  display: block;
  top: 15%;
  left: "auto";
  height: 100%;
  width: 52.935vh;
  height: 50vh;
  /* background-color: red; */
}


#fitness-picker {
  margin-right: 2em;
  width: 100%;
}

#fitness-picker label {
  margin-left: 2%;
  font-size: 1.5em;
  width: 50%;
}

.toned-option {
  /* height: 100%; */
  /* width: 10%; */
  /* display: block; */
  /* float: left */
}

.pig-color {
  fill: #EF8C7B;
}


#main-content {
  width: 80%;
  margin: auto;

}


#save-or-revert {
  grid-row:8/9;
  margin:auto;
  width: 60%;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  /* border: 1px solid red */
}

#save-or-revert div {
  /* display: block;
  float: left; */
  display: inline;
  width: 30%;
  margin: 2%;
}


.update-pig-button {
  border: solid 5px black;
  font-size: 1em;
  width: auto;
  z-index: 1001;
  padding: .5% .75%;
  background-color: #EF8C7B;
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 900;
  font-size: 2em;
  letter-spacing: .05em;
  box-shadow: 2px 2px 6px #333;
}

.update-pig-button:hover {
  background-color: #e06f5c;
  box-shadow: 0 0 0 #FFF;
}
