#the-pen {
  z-index: 0;
  background-color: #84C447;
  height: 100vh;
}

#the-pig {
  z-index: 1;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 70%;
}

#post-corn-tl {
  position: absolute;
  width: 8%;
  top: 0%;
  left: 0%;
}

#post-corn-tr {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 8%;
  margin: 0;
}

#post-corn-bl {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 8%;
}

#post-corn-br {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 8%;
}

#top-bar {
  width: 97%;
  margin: 3% 2% 0 0;
}

#post-mid-top {
  position: absolute;
  top: 3%;
  width: 6%;
  right: 48%;
}

#top-stuff {
  position: absolute;
  top: 0%;
  width: 100%;
  text-align: center;
}

#bottom-bar {
  width: 94%;
  margin: 0 2% 3% 0;
}

#post-mid-bottom {
  position: absolute;
  bottom: 3%;
  width: 6%;
  right: 48%;
}

#bottom-stuff {
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;
}

#left-bar {
  margin: 0 0 0 25%;
}

#left-bar-2 {
  margin: 0 0 0 5%;
}

#post-mid-left {
  position: absolute;
  left: 3%;
  top: 44%;
}

#left-stuff {
  position: absolute;
  left: 0%;
  height: 100vh;
  width: 8%;
}

#right-bar {
  margin: 0 5% 0 35%;
}

#right-bar-2 {
  margin: 0 25% 0 0;
}

#post-mid-right {
  position: absolute;
  right: 3%;
  top: 44%;
}

#right-stuff {
  position: absolute;
  right: 0%;
  height: 100vh;
  width: 8%;
}

#grass {
  width: 80%;
  height: 80vh;
  background-image: url('../images/PigPen_grass.svg')
}

.pig-pen-name-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.pig-pen-name {
  margin: auto;
  text-align: center;
  /* border: solid 1px black; */
  width: auto;
  z-index: 0;
  padding: .5% .75%;
  /* background-color: #696969; */
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 900;
  font-size: 10em;
  color: #FFF;
  opacity: 0.3;
  letter-spacing: .05em;
}
